.social {
	display: flex;
}

.social li {
	display: block;
	list-style: none outside;
	margin-right: 1em;
}

.social a {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #000;
	border-radius: 50%;
	background: rgba(255,255,255,0.5);
	width: 2.8em;
	height: 2.8em;
	line-height: 1;
	transition: background 0.2s ease-in;
	transition: 0.3s ease-in;
}

.social a:hover {
	//background: rgba(51, 102, 153, 0.75);
	transition: ease-in 0.3s;
	color: #FFF;
	transform: scale(1.2);
}
.social {
	a.facebook:hover {
		background-color:#3b5998
	}
	a.github:hover {
		background-color:#24292E;
	}
	a.wesaturate:hover {
		background-color:#ea4c89
	}
	a.linkedin:hover {
		background-color:#007bb6
	}
}

.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
	visibility: hidden;
	font-size: 0.8em;
	width: 5.4em;
	background-color: #AAAAAA;
	color: #fff;
	text-align: center;
	border-radius: 0.5em;
	padding: 5px 0;

	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	top: 100%;
	left: 50%;
	margin-left: -2.9em;
}

.tooltip:hover .tooltiptext {
	margin-top: 0.2em;
	visibility: visible;
}