.page-gallery {
    .site-title a {
        color: #369;
    }
    .site-branding p {
        color: black;
    }
    .site-nav {
        a {
            display: flex;
            font-size: 1.1em;
            transition: 0.3s ease-in;
            padding: 0.5em 1em;
            color: #369;
            text-decoration: none;
            border-radius: 0.3em;
            outline: none;
        }
        li:hover > a,
        .current-page > a,
        a:focus,
        a:hover {
            transition: 0.3s ease-in;
            background: #369;
            color: #FFF;
        }
    }
}
.gallery {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: dense;
    grid-gap: 1em;
    @include bp(mobile) {
        grid-template-columns: repeat(3, 1fr);
    }
    @include bp(phone) {
        grid-template-columns: repeat(2, 1fr);
    }
    li {
        padding: 3em;
        display: block;
        list-style: none outside;
        position: relative;
        overflow: hidden;
        opacity: 0.85;
        transition: ease-in 0.3s;
        box-shadow: 0 0 1em 0 rgba(black, 0.2);
        &:before {
            display: block;
            content: '';
            padding-top: 100%;
        }
        &.portrait {
            grid-row: span 2;
            border-radius: 7%;
            &:before {
                padding-top: 200%;
            }
        }
        &.landscape {
            grid-column: span 2;
            border-radius: 4%;
            &:before {
                padding-top: 50%;
            }
        }
        &:hover {
            transform: scale(1.05);
            opacity: 1;
        }
    }
    a {
        display: block;
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        &:before {
            display: block;
            content: '';
            position: absolute;
            top: 0; left: 0; right: 0; bottom: 0;
            z-index: 5;
        }
    }
    img {
        display: block;
        position: absolute;
        width: auto;
        height: 100%;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
    }
    .landscape img {
        width: 100%;
        height: 120%;
    }
}
hr {
    opacity: 0;
    margin-bottom: 1.5em;
}