body {
    background: rgba(141, 70, 255, 0.07);
}

.site {
    max-width: var(--layout-width, 60em);
    margin: 0 auto;
}

.site-header {

    @include bp(mobile) {

    }
    
    @include bp(desktop) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.card {
    border: 2px solid #CCC;
}

.card p {
    display: none;
}

.card p:first-of-type {
    display: block;
}

.card .button .less {
    display: none;
}

input:checked + .card p {
    display: block;
}

input:checked + .card .button .more {
    display: none;
}

input:checked + .card .button .less {
    display: inline;
}
