.page-about {
    .site-media {
        margin-top: -10.4rem;
    }
    .site-media h2 {
        margin-top: -2em;

        @include bp(phone) {
            margin-top: -4em;
        }
    }

    .card h3 {
        margin: 0.5em 0 0.5em 0;
    }

    .about .title {
        font-weight: 400;
        padding-bottom: 0.4em;

    }
    .about .title em {
        font-weight: 500;
    }
    hr {
        opacity: 1;
        margin-top: 0.3em;
    }
    em {
        font-size: 2.2em;
        font-weight: 400;
    }
    .about p {
        transition: ease-in 0.3s;
    }
    .about p:hover {
        transition: ease-in 0.3s;
        transform: scale(1.07);
    }
    .about .first {
        padding-top: 1em;
    }
    .option-more {
        display: flex;
        justify-content: space-between;
    }
    #more {
        display: none;
    }
    #myBtn {
        margin-bottom: 2em;
        padding: 0.5em;
        border-radius: 10%;
    }
}

.page-services,
.page-home {
    .site-media {
        margin-top: -10.4rem;
        height: 75vh;
        justify-content: center;
    }
    .site-media {
        @include bp(mobile) {
            height: 50vh;
        }
    }

    .site-wrapper {
        @include bp(mobile) {
            font-size: 12px;
            font-weight: 500;
        }
    }
}

.page-contacts {
    .ssites {
        font-size: 1.4em;
        font-weight: 600;
        transition: ease-in 0.3s;
        color: #369
    }
    .ssites:hover {
        transition: ease-in 0.3s;
        color: #726cb4;
    }
    .info p {
        font-size: 1.1em;
        font-weight: 300;
        padding: 0.1em 0;
    }
    iframe {
        margin: 1.5em 0 2em 0;
        border-radius: 2%;
        box-shadow: 0 0 1.1em #147;
        @include bp(tablet) {
            width: 100%;
        }
    }
}
.page-home,
.page-about {
    @include bp(mobile) {
        .site-media {
            margin-top: 0;
        }
        .site-title a {
            color: #369;
        }
        .site-branding p {
            color: black;
        }
        .site-nav {
            a {
                display: flex;
                font-size: 1.1em;
                transition: 0.3s ease-in;
                padding: 0.5em 1em;
                color: #369;
                text-decoration: none;
                border-radius: 0.3em;
                outline: none;
            }

            li:hover > a,
            .current-page > a,
            a:focus,
            a:hover {
                transition: 0.3s ease-in;
                background: #369;
                color: #FFF;
            }
        }
    }
}

.page-contacts,
.page-gallery,
.page-login {
    .site-title a {
        color: #369;
    }
    .site-branding p {
        color: black;
    }
    .site-nav {
        a {
            display: flex;
            font-size: 1.1em;
            transition: 0.3s ease-in;
            padding: 0.5em 1em;
            color: #369;
            text-decoration: none;
            border-radius: 0.3em;
            outline: none;
        }

        li:hover > a,
        .current-page > a,
        a:focus,
        a:hover {
            transition: 0.3s ease-in;
            background: #369;
            color: #FFF;
        }
    }
}