.page-services {
  .site-media {
    height: 50vh !important;
  }
  .site-media h2,
  .site-media p {
    text-align: center;
  }
  @include bp(desktop) {
    .site-media .site-wrapper {
      padding: 5em 0 0 0;
      text-align: center;
    }
  }
  @include bp(mobile) {
    .site-media {
      margin-top: 0 !important;
      p {
        font-size: 1.5em;
      }
    }
    .site-title a {
      color: #369;
    }
    .site-branding p {
      color: black;
    }
    .site-nav {
      a {
        display: flex;
        font-size: 1.1em;
        transition: 0.3s ease-in;
        padding: 0.5em 1em;
        color: #369;
        text-decoration: none;
        border-radius: 0.3em;
        outline: none;
      }
      li:hover > a,
      .current-page > a,
      a:focus,
      a:hover {
        transition: 0.3s ease-in;
        background: #369;
        color: #FFF;
      }
    }
    .site-media .site-wrapper h2 {
      font-size: 3.6em
    }
  }
  @media( max-width: 860px ) {
    .reviews p {
      font-size: 0.85em;
    }
  }
  }

  .highlights-wrapper {
    .highlight-book .book .full-width {
      left: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
      max-width: 100vw;
      position: relative;
      right: 50%;
      width: 100vw;
    }

    margin-bottom: -0.5rem;
  }
  .highlights-info {
    .invisible {
      opacity: 0;

    }
    a {
      font-weight: 700;
      color: #726cb4;
      padding-left: 0.2em;
      font-size: 1.1em;
    }
    hr {
      margin-bottom: 4em;
      opacity: 1;
    }
  }

  .highlights {
    width: 100%;
    .main-highlight img {
      width: 100%;
      margin-bottom: 1.2em;
    }
    .small-highlight {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2em;
      img {
        transition: ease-in 0.1s;
        width: 31.5%;
      }
      img:hover {
        transform: scale(1.1);
      }
    }

  }
  .highlight-reviews {
    margin-bottom: 2em;
    h4 {
      width: 100%;
      font-weight: 400;
      font-size: 1.6em;
      padding: 1em;
      text-decoration: underline;
      text-align: center;
    }
    .reviews {
      padding: 1em;
      font-size: 1.15em;
      font-weight: 300;
      display: flex;
      justify-content: space-between;

      @include bp(phone) {
        display: block;
      }
      p {
        width: 30%;
        padding: 0.2em;
        @include bp(phone) {
          width: 100%;
          margin-bottom: 0.9em;
        }

        strong {
          font-weight: 400;
          opacity: 0.7;
        }
      }
    }
}

.shiny {
  width: 100%;
  text-align: center;
  margin-bottom: 2em;
  -webkit-perspective: 500px;
  perspective: 500px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  display: inline-block
}

.shiny button {
  background: #369;
  color: #fff;
  font-size: 14px;
  border: none;
  border-radius: .5em;
  height: 4em;
  padding: 0 2.5em;
  position: relative;
  overflow: hidden;
  line-height: 2em;
  -webkit-transition: all .5s cubic-bezier(.67,-.51,.42,1.43);
  transition: all .5s cubic-bezier(.67,-.51,.42,1.43);
}

.shiny button:hover,.shiny button:focus {
  border-color: #369;
  color: #fff;
  font-size: 24px
}

.shiny button:hover::after,.shiny button:focus::after,.shiny .demo-container.active button::after {
  -webkit-animation: sheen 1s .5s forwards;
  animation: sheen 1s .5s forwards
}

.shiny button::after {
  content: '';
  position: absolute;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  background: -webkit-gradient(linear,left top,left bottom,from(rgba(209,112,60,0)),color-stop(50%,rgba(255,255,255,0.5)),to(rgba(209,112,60,0)));
  background: linear-gradient(to bottom,rgba(209,112,60,0),rgba(255,255,255,0.5) 50%,rgba(209,112,60,0));
  -webkit-transform: rotateZ(60deg) translate(-5em,7.5em);
  transform: rotateZ(60deg) translate(-5em,7.5em)
}

.shiny button.visible {
  overflow: visible
}

.shiny button:hover {
  cursor: pointer
}

@-webkit-keyframes sheen {
  100% {
    -webkit-transform: rotateZ(60deg) translate(1em,-14em);
    transform: rotateZ(60deg) translate(1em,-14em)
  }
}

@keyframes sheen {
  100% {
    -webkit-transform: rotateZ(60deg) translate(1em,-14em);
    transform: rotateZ(60deg) translate(1em,-14em)
  }
}
