.page-services {
  .site-media {
    height: 50vh !important;
  }
  .site-media h2,
  .site-media p {
    text-align: center;
  }
  @include bp(desktop) {
    .site-media .site-wrapper {
      padding: 5em 0 0 0;
      text-align: center;
    }
  }
  @include bp(mobile) {
    .site-media {
      margin-top: 0 !important;
      p {
        font-size: 1.5em;
      }
    }
    .site-title a {
      color: #369;
    }
    .site-branding p {
      color: black;
    }
    .site-nav {
      a {
        display: flex;
        font-size: 1.1em;
        transition: 0.3s ease-in;
        padding: 0.5em 1em;
        color: #369;
        text-decoration: none;
        border-radius: 0.3em;
        outline: none;
      }
      li:hover > a,
      .current-page > a,
      a:focus,
      a:hover {
        transition: 0.3s ease-in;
        background: #369;
        color: #FFF;
      }
    }
    .site-media .site-wrapper h2 {
      font-size: 3.6em
    }
  }
}